/* Var */
:root {
    --LogoFont : 'Roboto Mono', monospace;
    --MainFont : 'Roboto', sans-serif;
    --MainColor : #29B822;
    --Light : #FFFFFF;
    --Dark : #000000;
    --Grey : #BCBCBC;

}

/* global */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

/* header */
.header{
    display: grid;
    grid: 6rem / 90% 5% 5% ;
    gap: 0;
    padding-top: 4rem;
}
.header__link{
    text-decoration: none;
}
.header__logo{
    font-family: var(--LogoFont) ;
    margin: 0;
    color: var(--Dark);
    font-size: 4.5rem;
    display: flex;
}
.header__registered{
    font-size: 3rem;
}
.header__icon:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* navegation */
.navegation{
    background-color: var(--Grey);
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.navegation__link{
    text-decoration: none;
}
.navegation__text{
    color: var(--Light);
    font-family: var(--MainFont);
}
.navegation__text--on{
    font-weight: bold;
}
.navegation__text:hover{
    font-weight: bold;
}

/*footer*/
.footer{
    background-color: var(--Dark);
    padding-bottom: 1rem;
}
.footer__main{
    padding: 2rem 0;
    display: grid;
    grid: auto / 50% 50%;
    align-items: center;
}
.footer__first{
    margin: 0 auto;
}
.footer__information{
    font-family: var(--LogoFont);
    color: var(--Light);
    font-size: 2.1rem;
    text-transform: uppercase;
}
.footer__link{
    text-decoration: none;
    color: var(--MainColor);
    font-family: var(--MainFont);
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__second{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.footer__subscribe{
    color: var(--Light);
    font-family: var(--MainFont);
    font-weight: bold;
    text-transform: uppercase;
}
.footer__box{
    font-family: var(--MainFont);
    text-align: center;
}
.footer__index{
    text-decoration: none;
}
.footer__logo{
    color: var(--Light);
    font-family: var(--LogoFont);
    justify-content: center;
    font-size: 3rem;
    display: flex;
}
.footer__registered{
    font-size: 2rem;
}
.footer__foot{
    color: var(--Grey);
    text-align: center;
    font-family: var(--MainFont);
    padding-bottom: 1rem;
}

/* Section*/
.section{
    display: flex;
}
.section__grid{
    width: min(125rem , 100%);
    margin: 0 5rem 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section__product{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 1rem;
}
.section__product:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-bottom: 0.5rem solid;
    border-color:var(--MainColor);
}
.section__image{
    width: 37rem;
    margin: 1.5rem auto;
}
.section__name{
    font-family: var(--MainFont);
    text-align: center;
    margin: 0;
}
.section__price{
    font-family: var(--MainFont);
    text-align: center;
    margin-top: 1rem;
}
.heading__text{
    font-family: var(--MainFont);
    font-size: 10rem;
    text-align: left;
    margin-bottom: 0;
}
.heading__text--green{
    color: var(--MainColor);
    font-size: 6rem;
    margin-left: 0.25rem;
}
.heading__counter{
    color: var(--Grey);
    font-family: var(--MainFont);
    font-size: 6rem;
    margin-top: 0;
}